body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-container {
  background: url("./Images/bg.jpg") no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  max-height: 100%;
  background-size: cover;
  color: whitesmoke;
}

.back-button {
  position: absolute;
  left: 20px;
  top: 20px;
}

.weather-top {
  display: flex;
  justify-content: center;
}

.main-search-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 50%;
  text-align: center;
}

.round-input-text {
  border: 1px solid #d6d4d4;
  border-radius: 25px;
  width: 582px;
  height: 40px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-left: 25px;
  font-size: 17px;
}

.round-input-text:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

input:focus {
  outline: none;
}

@media (max-width: 770px) {
  .start-container {
    margin: 0 4%;
  }

  .weather-bottom {
    margin: 0 4%;
  }
}
